# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
test-results/
htmlcov/
.coverage

# Playwright
browser-artifacts/
playwright-report/

# Project Specific
data/
*.xlsx
*.csv
*.ods
*.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db
